<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>KAKADU EXPEDITIONS SAFARI DIVISION</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Welcome to Kakadu Expeditions Safari Division.</h1>
        <h3>Check for available Drivers and Cars</h3>
        <form method="get" action="/drivers">
            
            <button type="submit">Check Drivers</button>
        </form>
        <form method="get" action="/cars">
            
            <button type="submit">Checkout Available Cars</button>
        </form>
        <div></div>
    </body>
</html>
